body{
    background-image: url("./Imgs/fondoIndex.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Garamond";
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.form{
    color: white;
    position: relative;
    padding: 70px 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 15px 15px 10px black;
    background: none;
    border: none;
    max-width: 300px;
    width: 100%;
}
.titulo{
    font-weight: bold;
    margin-bottom: 20px;
}
.ingresar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: large;
}
.ingresar a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}
.ingresar a:hover{
    text-decoration: underline;
}
.campos{
    align-items: center;
    display: flex;
    background: none;
    margin-bottom: 20px;
    font-size: large;
}
i{ 
    padding: 10px;
    background-color: #212121;
    color: white;
}
.campos input{
    background-color: rgba(255, 255, 255, .7);
    padding: 8px;
    width: 100%;
    font-size: large;
    border: none;
    outline: none;
}
.campos input::placeholder{
    color: black;
}
abbr{
    text-decoration: none;
}
.fecha-nacimiento p{
    padding: 5px;
    width: 50%;
    background-color: #212121;
}
.fecha-nacimiento input{
    width: 50%;   
    padding: 14px;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.botones input{
    font-size: large;
    padding: 10px 20px 10px 20px;
    width: 40%;
    cursor: pointer;
    border: none;
    color: white;
}
.botones input[type=button]{
    background-color: #212121;
}
.botones input[type="reset"]{
    background-color: #616161;
}
.botones input[type="button"]:hover{
    background-color: black;
}
.botones input[type="reset"]:hover{
    background-color: #757575;
}