/*Estilos de la ventana de Editar información (Ver Perfil)*/

.editar::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
}
.editar{
    position: relative;
    background: none;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}
.editar .botones .principales{
    margin-left: 10px;
}
.editar .botones i{
    color: #0d6efd;
    font-size: xx-large;
}
.editar .titulo{
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.editar .contenedor-editar{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/*Estilos lado izquierdo (Ver Información)*/
.editar .contenedor-editar .ver-info{
    border-radius: 10px 10px 0 0; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}
.editar .ver-info .logo::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px 10px 0 0;
    background-image: url("./Imgs/Fondo_2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.editar .ver-info .logo{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
    width: 100%;
}
.editar .ver-info img{
    width: 35%;
    border-radius: 50%;
}
.editar .ver-info .logo i{
    background-color: rgba(255, 255, 255, .7);
    font-size: 7vw;
    border-radius: 50%;
    padding: 3vw;
}
.editar .ver-info .info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e0e0e0;
    padding-top: 5px;
    border-radius: 0 0 10px 10px;
}
.editar .ver-info .info label{
    border: none;
    outline: none;
    background: none;
    margin-left: 5px;
}
.editar .ver-info .info .datos .nombreUsuario,
.editar .ver-info .info .datos .MarcaModelo{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.editar .ver-info .info .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.editar .ver-info .info .datos i{
    margin-right: 5px;
}
.editar .ver-info .btn-editar,
.edicion .btn-editar{
    display: flex;
    justify-content: center;
}
.editar .ver-info button{
    margin: 20px 0 20px 0;
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    border-radius: 5px;
    font-size: larger;
}
.editar .ver-info button:hover{
    background-color: #1b5e20;
}

/*Estilos lado Derecho (Datos Personales)*/
.editar .contenedor-editar .edicion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 40px;
    border-radius: 10px;
    width: 45%;
}
.edicion h3{
    text-align: center;
    margin-bottom: 20px;
}
.edicion .opcionesEquipamiento{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}
.edicion .opcionesEquipamiento .equipamiento{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
}
.edicion .opcionesEquipamiento .equipamiento input{
    margin-right: 5px;
}
.edicion .opcionesEquipamiento .equipamiento .eqNombre{
    margin-right: 5px;
}
.edicion .opcionesEquipamiento .cantidad{
    width: 30%;
}
.edicion .opcionesEquipamiento .cantidad input{
    width: 100%;
}
.edicion .campos{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e0e0e0;
}
.edicion .campos i{
    font-size: x-large;
    padding: 6px;
    color: white;
    background-color: black;
}
.edicion .campos input{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    outline: none;
}
.edicion button{
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    background-color: #0d6efd;
    border-radius: 5px;
    font-size: larger;
    display: none;
}
.edicion button:hover{
    background-color: #3065ac;
}

@media screen and (max-width: 950px){
    .ver-info .datos b{
        display: none;
    }
    .edicion .campos i,
    .ver-info .datos i{
        font-size: small;
    }
    .ver-info .datos label{
        font-size: large;
    }
    .edicion .campos input{
        padding: 0;
    }
    .edicion{
        font-size: medium;
        padding: 20px;
    }
    .edicion .btn-editar{
        padding-top: 5px;
    }
}